/* .trade-page-buttons{
    text-align-last: center;
}

.trade-page{
    background-color: lightgray;
}
.mat-tab-group{
align-items:center;
} */


::ng-deep .mat-tab-label .mat-tab-label-content{
    color: black;
}