<div class="chartContainer">
    <apx-chart [series]="pieChartSeries" [chart]="pieChartDetails" [labels]="pieChartLabels" [title]="pieChartTitle" [dataLabels]="pieChartDataLabels"></apx-chart>
</div>
<div class = "chartContainer">
    <apx-chart
      [series]="barChartSeries1"
      [chart]="barChart1"
      [xaxis]="barChartxaxis1"
      [title]="barCharttitle1"
    ></apx-chart>
  </div>

  <div class = "chartContainer">
    <apx-chart
      [series]="barChartSeries2"
      [chart]="barChart2"
      [xaxis]="barChartxaxis2"
      [title]="barCharttitle2"
    ></apx-chart>
  </div>