<!-- Your HTML goes here: -->
<div class="login-box">
    <div class="form">
        <app-username-form-control (change)="Storeusername($event)" id="form-username"></app-username-form-control>
        <!-- <app-username-form-control id="form-username"></app-username-form-control> -->
    </div>
    <div class="form">
        <app-password-form-control (change)="Storepassword($event)" id="form-password"></app-password-form-control>
        <!-- <app-password-form-control id="form-password"></app-password-form-control> -->
    </div>
    <div class="login-button" id="login-button">
        <button type="button" (click)="onClick()">Log In</button>
        <!-- <app-button></app-button> -->
    </div>
    <div class="link">
        <app-link [routeName]='""'>Forgot Password</app-link>
        <br>
        <app-link [routeName]='"reg"'>New User ? Login</app-link>
    </div>
</div>