/* table {
  width: 100%;
  background-color: #ebccb0;
  color: black;
} */
h1{
  text-align: center;
}
.tradehistorytable{
  padding-top: 50px;
  max-width: 80%;
  align-content: center;
  margin: auto;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
  color: black;
  background-color: #007f87 ;
}

td, th {
  width: 20%;
}