table {
    width: 50%;
    background-color: #7a5677;
    text-align: center;
  }
  th{
    text-align: center;
    background-color: #007f87;
    font-size: larger;

  }
  tr.example-detail-row {
    height: 0;
    background-color: 	#ebccb0;
  }
  
  tr.example-instrument-row:not(.example-expanded-row):hover {
    background: wheat;
    /* color: black; */
  }

  .mat-cell, .mat-footer-cell :hover {
    color: black;
}
  
  .example-instrument-row td {
    border-bottom-width: 0;
  }
  
  .example-instrument-detail {
    overflow: hidden;
    display: flex;
    /* height: 20%; */
  }
  
  .example-instrument-description {
    padding: 16px;
  }
  
  .example-instrument-description-attribution {
    opacity: 0.5;
  }


  th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
    padding-left: 24px;
    text-align: -webkit-center;
}

th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
  padding-right: 24px;
  text-align: -webkit-center;

}

#minQuantity{
  margin-left: 10px;
}


element.style {
}
user agent stylesheet
div {
    display: block;
}
th.mat-header-cell[_ngcontent-kko-c125]:last-of-type, td.mat-cell[_ngcontent-kko-c125]:last-of-type, td.mat-footer-cell[_ngcontent-kko-c125]:last-of-type {
    padding-right: 24px;
    text-align: -webkit-center;
}
td.mat-cell[_ngcontent-flk-c126]:last-of-type{  margin-top: 10px;
}