<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<!-- <div class="navbar">
    <app-nav-bar-link [navBarPath]='"portfolio"'>Portfolio</app-nav-bar-link>
    <app-nav-bar-link [navBarPath]='"activity"'>Activity</app-nav-bar-link>
    <app-nav-bar-link [navBarPath]='"trade"'>Trade</app-nav-bar-link>
    <app-nav-bar-link [navBarPath]='"roboAdvisor"'>Robo Advisor</app-nav-bar-link>

</div> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" [routerLink]="['/' + 'login']">SmallChange</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link"[routerLink]="['/' + 'portfolio']">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/' + 'activity']">Activity</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/' + 'trade']">Trade</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/' + 'roboAdvisor']">Robo Advisor</a>
          </li>
 
      </ul>
    </div>
  </nav>