<h2>BUY</h2>
<h4>{{trade.instrument.instrumentDescription}}</h4>

<span class="quantspan"><b>Min Quantity   </b>{{trade.instrument.minQuantity}}</span>
<span class="quantspan"><b>Max Quantity   </b>{{trade.instrument.maxQuantity}}</span>

<div>
    Choose portfolio <input type="number" [(ngModel)]="portfolioId">
</div>
<span class="tradeactionfield">Quantity
    <span><input type="number" [(ngModel)]="tradeQuantity" class="tradeactionfield" value="trade.instrument.minQuantity"
         required>
    </span>
    <!-- <div>
        <mat-slider
  thumbLabel
  step="1"
  [(ngModel)] ="tradeQuantity"
  min="trade.instrument.minQuantity"
  max="trade.instrument.maxQuantity"
  aria-label="units"></mat-slider>
    </div> -->
</span>

<span class="tradeactionfield">Price
    <span><input type="number" [(ngModel)]="tradePrice" class="tradeactionfield"
        value="{{tradeQuantity * trade.askPrice}}" readonly></span></span>
<div>
<div class="butttonnnn">
<button class="btn btn-success" (click)="placeOrderBUY(trade,tradeQuantity,tradePrice,portfolioId)">EXECUTE BUY</button></div>
</div>

