<h2>BUY</h2>
<h4>{{trade.instrument.instrumentDescription}}</h4>

<!-- <span class="quantspan"><b>Min Quantity   </b>{{trade.instrument.minQuantity}}</span>
<span class="quantspan"><b>Max Quantity   </b>{{trade.instrument.maxQuantity}}</span> -->

<div>
    Choose portfolio 
    <!-- <input type="number" [(ngModel)]="portfolioId" class="tradeactionfield"> -->


      <select [(ngModel)]="portfolioId" id="Portfolio">
        <option *ngFor="let portfolio of portfolios" [value]="currentportfolio">
            {{portfolio.portfolioId}}
        </option>
      </select>
</div>
<span >Quantity
    <span><input type="number" class="tradeactionfield" [(ngModel)]="tradeQuantity" class="tradeactionfield" value="trade.instrument.minQuantity"
         required style="margin-left: 3.4em;">
    </span>
    <!-- <div>
        <mat-slider
  thumbLabel
  step="1"
  [(ngModel)] ="tradeQuantity"
  min="trade.instrument.minQuantity"
  max="trade.instrument.maxQuantity"
  aria-label="units"></mat-slider>
    </div> -->
</span>

<div >Price
    <span ><input type="number" [(ngModel)]="tradePrice" 
        value="{{tradeQuantity * trade.askPrice}}" readonly class="tradeactionfield"  style="margin-left:5em;"></span></div>
<div>
<div class="butttonnnn">
<button class="btn btn-success" (click)="placeOrderBUY(trade,tradeQuantity,portfolioId)">EXECUTE BUY</button></div>
</div>

