a{
    font-family: 'Fidelity-Sans', Arial, sans-serif;
  }
  a:default{
    color: #024A7A;
  }
  a:visited{
    color: purple;
  }
  a:focus{
    outline-style: dotted;
    outline-width: 1px;
    outline-color: #ccc;
  }
  