/* table {
    color: #333;
    width: 80%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-left: auto;
    margin-right: auto;
}

td, th {
    height: 2em;
}

th {
    background: #DFDFDF;
    font-weight: bold;
}

.stocks{
    background: #006076;
    
}

.bonds{
    background: #007f87;
    
}


.mutual_funds{
    background: #ebccb0;
    
}

.container{ max-width:100%; }    
.left{ float: left;width:50%; }
.right{ float: right;width:50%; }


.image{
    max-height: 100px;
    max-width:100px;
}

.mat-card {
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    position: relative;
    padding: 16px;
    margin-top: 100px;
    margin-left: 50px;
    border-radius: 4px;
}

.mat-card-image {
    width: calc(100% + 32px);
    margin: auto;
    display: block;
    overflow: hidden;
}

.mat-card-actions:not(.mat-card-actions-align-end) .mat-button:first-child, .mat-card-actions:not(.mat-card-actions-align-end) .mat-raised-button:first-child, .mat-card-actions:not(.mat-card-actions-align-end) .mat-stroked-button:first-child {
    background-color: black;
    margin-left: 0;
    margin-right: 0;
}

.mat-card>.mat-card-actions:last-child {
    margin-bottom: -8px;
    padding-bottom: 0;
    text-align: -webkit-center;
}

.mat-card-header .mat-card-title {
    margin-bottom: 12px;
    margin-left: 330%;
}

 */

 table {
    margin: 2px;
    margin-left:5%;
    width:90%;
}
.negative
{
    color:red;
}
#left
{
    float:left;
    
    width:20%;
    margin-right:30px;
    margin-left:15%;
    
}
.card
{
    margin-bottom:10px;
}
.funds_button{
    background-color: #8DC63F !important;
}
#mid
{
    float:left;
    width:20%;
    margin-right:30px;
    
}
#right
{
    float:left;
    width:20%;
    
}

th,td{
    text-align: center;

}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }