<!-- 
<div class="card" id="left">
    <h5 class="card-header">Client info</h5>
    <div class="card-body">
  
      <p class="card-text"> $0</p>
  
    </div>

    <div class="card" id="mid">
        <h5 class="card-header">Cash Balance</h5>
        <div class="card-body">
      
          <p class="card-text"> $0</p>
      
        </div>

        <div class="card" id="right">
            <h5 class="card-header">Add Funds</h5>
            <div class="card-body">
          
              <button>Add fund</button>
          
            </div> -->

            <div class="card" >
                <img src="../../assets/user.png" alt="user image" style="width:50%; margin: auto;" >
                <h2>{{client.name}}</h2>
                <h3>Cash Balance</h3>
                <p class="price">{{client.funds}}</p>
                <p>Add Funds to make more trades</p>
                <p><button class = "funds_button" mat-raised-button (click) = "addFunds()" >
                    ADD FUNDS
                </button></p>
              </div>
            
<div style="text-align: center;"><h3>User Portfolio</h3></div>

<table class="instrumenttable table table-striped ">
    <thead>
        <tr>
          <th colspan="4">GOVT</th>
        </tr>
        <tr>
            <th>Instrument Name</th>
            <th>Quantity</th>
            <th>Instrument Price</th>
            <th>CashValue</th>
            <th>Activity</th>
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p1 of govt" >
          <td>{{p1.instrumentDescription}}</td>
          <td>{{p1.quantity}}</td>
          <td>{{p1.executionPrice}}</td>
          <td>{{p1.cashValue}}</td>
          <td><button class="btn btn-danger">SELL </button></td>

      </tr>


  </tbody>
</table>
<br><br>

<table class="instrumenttable table table-striped ">
  <thead>
      <tr>
        <th colspan="4">STOCKS</th>
      </tr>
      <tr>
          <th>Instrument Name</th>
          <th>Quantity</th>
          <th>Instrument Price</th>
          <th>CashValue</th>
          <th>Activity</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let p1 of stock" >
          <td>{{p1.instrumentDescription}}</td>
          <td>{{p1.quantity}}</td>
          <td>{{p1.executionPrice}}</td>
          <td>{{p1.cashValue}}</td>
          <td><button class="btn btn-danger">SELL </button></td>

      </tr>


  </tbody>
</table>
<br><br>

<table class="instrumenttable table table-striped ">
  <thead>
      <tr>
        <th colspan="4">CD</th>
      </tr>
      <tr>
          <th>Instrument Name</th>
          <th>Quantity</th>
          <th>Instrument Price</th>
          <th>CashValue</th>
          <th>Activity</th>
          
      </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p1 of cd" >
        <td>{{p1.instrumentDescription}}</td>
        <td>{{p1.quantity}}</td>
        <td>{{p1.executionPrice}}</td>
        <td>{{p1.cashValue}}</td>
        <td><button class="btn btn-danger">SELL </button></td>

    </tr>


</tbody>
</table>
