.enter-preference{
    border: solid black;
    width: 50%;
    padding: 2rem 4rem 2rem 4rem;
    margin-top: 3em;
}


/* .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: lightblue;
}

.cdk-overlay-pane{
    background-color: wheat; */
/* } */

.selectt ::content{

    font-size: 12px;
}
.optionn{
    background-color: antiquewhite;
    color: black;
}