<table mat-table [dataSource]="instruments" multiTemplateDataRows class="mat-elevation-z8">
  <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
    <th mat-header-cell *matHeaderCellDef> {{column}} </th>
    <td mat-cell *matCellDef="let instrument"> {{instrument[column]}} </td>
  </ng-container>
  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let instrument" [attr.colspan]="columnsToDisplay.length">
      <div class="example-instrument-detail"
        [@detailExpand]="instrument == expandedinstrument ? 'expanded' : 'collapsed'">


        <div class="example-instrument-description">
         <span>SELL {{instrument.description}}</span> <input type="text" id="minQuantity" name="minQuantity" [(ngModel)]="instrument.minQuantity">
         <button [disabled]="instrument.minQuantity>instrument.maxQuantity">SELL</button>
         <div *ngIf="instrument.minQuantity>instrument.maxQuantity">Enter less than {{instrument.maxQuantity}} instruments</div>
        </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let instrument; columns: columnsToDisplay;" class="example-instrument-row"
    [class.example-expanded-row]="expandedinstrument === instrument"
    (click)="expandedinstrument = expandedinstrument === instrument ? null : instrument">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>