<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>


<!-- <router-outlet></router-outlet> -->
<app-trade-page></app-trade-page>
<!-- <app-roboadvisor></app-roboadvisor> -->

<!-- <app-reg-page></app-reg-page> -->
<!-- <app-footer-bar></app-footer-bar> -->
<!-- <app-edit-preference></app-edit-preference> -->
<!-- <app-login-page></app-login-page> -->