<app-nav-bar></app-nav-bar>

<div style="text-align: center;"><h3>Trade history</h3></div>

<table class="instrumenttable table table-striped ">
    <thead>
        <tr>
            <th>Trade Id</th>
            <th>Instrument</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Direction</th>
            <th>CashValue</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let instrument of instruments" >

    <td>{{instrument.tradeId}}</td>
     <td>{{instrument.instrumentDescription}}</td>
     <td>{{instrument.quantity}}</td>
     <td>{{instrument.executionPrice}}</td>
     <td>{{instrument.direction}}</td>
     <td>{{instrument.cashValue}}</td>

        </tr>


    </tbody>
</table>
